/* Milica Banjanin AI60/2022 Luka Tomić AI19/2022 Teodora Pristajko AI18/2022 */
/* Animacija u inženjerstvu */
/* Predmetni projekat Web Dizajn */

body {
  font-family: 'DM Sans', Arial, sans-serif;
  background-color: #EDECE8;
  padding-bottom: 55px; 
}

.navbar {
  background-color: #85A8A5; 
  color: white;              
  transition: background-color 0.3s       
}

.navbar .nav-link {
  color: #FFFFFF;
  border-bottom: 4px solid transparent;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s ease-in-out;
  margin-right: 20px;
  padding: 10px 20px; 
}

.navbar .nav-link:hover {
  background-color: #577A77; 
  color: #FFFFFF;
}

.navbar .nav-link.active {
  background-color: #577A77;
  color: #FFFFFF;
}

.navbar-nav .dropdown-menu .dropdown-item {
  transition: background-color 0.3s, color 0.3s;
}


.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item.active {
  background-color: #577A77;
  color: #fff;
}

.navbar-nav .nav-link.dropdown-toggle:focus,
.navbar-nav .nav-link.dropdown-toggle:active {
  background-color: transparent;
  color: #fff;
}

.custom-btn {
  background-color: #A1985E;  
  color: white;               
  padding: 10px 20px;         
  border-radius: 10px;         
  font-weight: bold;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-btn:hover {
  background-color: #67613C;  
  color: white;
}

.custom-btn.active-btn {
  background-color: #67613C;  
  color: white;
}

.slideshow {
    position: relative; 
}

.slideshow-text {
    position: absolute;
    top: 40%;          
    left: 50%;
    transform: translateX(-50%); /* samo horizontalno centriranje */
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    z-index: 10;       
    width: 100%;
}

#featuredCarousel {
    position: relative; 
}

#featuredCarousel .carousel-item {
    height: 700px; 
}

#featuredCarousel .carousel-item img {
    height: 100%;        
    width: 100%;         
    object-fit: cover;   
    object-position: center; 
    filter: brightness(40%); 
}

.container h4,
.container h1 {
  padding: 20px 0px;
  color: #314543;
  text-align: center;
  text-decoration: bold;
}

.container h3 {
  color: #314543;
}

.container p {
  text-align: justify;
}

.col-md-4 img {
  display: block;
  margin-bottom: 15px; 
  border-radius: 5px;        
  transition: transform 0.3s; 
}

.col-md-4 img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.info-sidebar {
  background-color: #BACECD;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}

.star-list {
  list-style: none; 
  padding-left: 0;
}

.star-list li {
  position: relative;
  padding-left: 25px; 
  margin-bottom: 10px;
  color: #314543;
}

.star-list li::before {
  content: '★'; 
  position: absolute;
  left: 0;
  color: #A1985E; 
  font-size: 18px;
  line-height: 1.4;
}

.gallery-img {
  width: 100%;
  height: 200px;           
  object-fit: cover;       
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.gallery-title {
  margin-bottom: 30px; 
}

.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.map-image {
  text-align: center; 
  margin: 20px 0;     
}

.map-image img {
  width: 80%;          
  max-width: 600px;    
  height: auto;        
  border-radius: 5px;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;     
}

.map-image img:hover {
  transform: scale(1.1);         
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}

.qr-code-section img {
    border: 2px solid #A1985E; 
    border-radius: 5px;
    padding: 5px;
}

p, ul, ul li {
  color: #314543; 
}

.contact-section {
  background-color: rgba(178, 170, 123, 0.5);  
  color: white;               
  border-radius: 5px;
  padding: 50px 20px;         
  margin: 30px auto;           
  max-width: 1000px;           
}

.contact-section p, 
.contact-section table td, 
.contact-section b {
  color: #314543;               
}

.contact-section table td {
  padding: 5px 5px;          
}

.contact-banner {
  background-color: #85A8A5;
  padding-bottom: 10px;
}

.contact-banner h2 {
  font-size: 2rem;
  margin-bottom: 5px; 
}

.contact-banner a.map-link {
  color: #314543 !important;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 30px; 
  flex-wrap: wrap; 
  color: #314543;
}

.contact-banner a.map-link i {
  color: #314543;                
  font-size: 22px;               
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-banner a.map-link:hover i {
  color: #A1985E;                   
  transform: scale(1.4);        
}

.contact-banner .social-icons a {
  color: #314543;
  transition: transform 0.3s ease, color 0.3s ease;
   display: inline-block; 
}

.contact-banner .social-icons a:hover {
  color: #A1985E;
  transform: scale(1.4);
}

.footer1 {
  background-color: #577A77; 
  color: rgba(0, 0, 0, 0.5); 
  text-align: center;
}

.footer1 a {
  text-decoration: underline;
}

.footer1 span {
  color: rgb(255, 255, 255);
}